<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Course Tracker</title>
    <link rel="stylesheet" href="/static/css/about_us.css">
</head>
<body>
    <header>
        <h1>About Us</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h3>Our Mission</h3>
            <p>Course Predictor is built to help learners maximize their potential by providing insights into their learning patterns. Using AI-driven predictions, we analyze key factors to determine course completion probability. Our mission is to make online learning more effective and personalized.</p>

            
            <h3>Who We Are</h3>
            <p>At Course Tracker, we are dedicated to enhancing online learning experiences by leveraging cutting-edgem,achine learning and data analytics. Our mission is to empower both learners and educators by predicting course completion rates based on engagement patterns.</p>  
            
            <h3>Course Completion Matters</h3>
            <p>With the rise of e-learning platforms, millions of learners enroll in online courses, but many struggle to complete them due to factors like lack of motivation, poor engagement, or ineffective course structures. Understanding why learners drop out is key to improving online education. </p> 
            
            <h3>What We Do</h3>
            <p>Our platform uses AI-driven predictive modeling to analyze:  </p>
            ✅ Time spent on learning materials<br>
            ✅ Number of videos watched<br>
            ✅ Quizzes attempted & quiz scores<br>   
            ✅ Device type & platform preference<br><br>
            <p> Using this data, we identify patterns that indicate whether a learner is likely to complete a course. </p> 
            
            <h3>How It Benefits You</h3>
            🔹 For Learners: Personalized course recommendations based on engagement patterns. <br> 
            🔹 For Educators: Actionable insights to improve course design and learner retention.  <br>
            🔹 For E-learning Platforms: Optimization of engagement strategies to enhance overall success rates.  
            
            <h3>Our Vision</h3>
            <p>We envision a future where online education is more effective, engaging, and accessible. By using data-driven insights, we help create personalized learning paths that cater to individual needs, reducing dropout rates and improving course completion success.  </p>  
        </section>
    </main>
</body>
</html>
